APP_MODE=PROD
SERVICE_AUTH_TOKEN=teSfTtPh6taToq6i57fosE6c

SENTRY_DSN=
SENTRY_SAMPLE_TRACE=

# DB
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=golang_service
DB_TIMEZONE="Asia/Jakarta"

# REDIS
REDIS_HOST=
REDIS_PORT=
REDIS_PASS=

# JWT
JWT_SECRET=secret
JWT_EXPIRED_IN_DAYS=1

# OTP
ZENZIVA_BASE_URL=
ZENZIVA_USER_KEY=
ZENZIVA_PASS_KEY=
OTP_EXPIRED_IN_MINS=

# DISCORD
DISCORD_WEBHOOK_NEW_INQUIRY=
DISCORD_WEBHOOK_NEW_OUT_PAYMENTS=

# XENDIT
XENDIT_WEBHOOK_TOKEN=

# TEST ACCOUNT
TEST_ACCOUNT_PHONE_NUMBER=
TEST_ACCOUNT_OTP=