APP_MODE=
SERVICE_AUTH_TOKEN=

# DB
MYSQL_DB_HOST=
MYSQL_DB_USER=
MYSQL_DB_PASS=
MYSQL_DB_NAME=

# JWT
JWT_SECRET=
JWT_EXPIRED_IN_DAYS=

# OTP
ZENZIVA_BASE_URL=
ZENZIVA_USER_KEY=
ZENZIVA_PASS_KEY=
OTP_EXPIRED_IN_MINS=

# DISCORD
DISCORD_WEBHOOK_NEW_INQUIRY=
DISCORD_WEBHOOK_NEW_OUT_PAYMENTS=

# XENDIT
XENDIT_WEBHOOK_TOKEN=

# TEST ACCOUNT
TEST_ACCOUNT_PHONE_NUMBER=
TEST_ACCOUNT_OTP=